.highlightable:hover {
  background-color: #EBF5FF;
}

.content > div.expandParent {
  border: 2px solid;
}



.highlightable.clicked {
  background-color: #94D8FF;
}

.hidden {
  display:none;
}

.inline-formula > div {
  display:inline;
}
